.places__row {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
}

.places__row:first-of-type {
  align-items: end;
}

@media (max-width: 1180px) {
  .places__row {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media (max-width: 900px) {
  .places__row {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 700px) {
  .places__row {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .places__row:first-of-type {
    padding: 0 16px;
    box-sizing: border-box;
  }
}