.photo-grid {
 width: 100%;
  display: grid;
  padding: 0 48px;
  margin: 92px auto;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);    
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 88px auto;
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 64px auto;
    padding: 0 16px;
    column-gap: 0;
    row-gap: 12px;
  }
}