.header__lang {
  width: 74px;
  height: auto;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .header__lang {
    width: 62px;
  }
}