.footer__menu-item {  
  padding: 0;
  margin: 0 18px 0 0;  
}

.footer__menu-item:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer__menu-item {
    margin-right: 18px;
  }
}

@media (max-width: 600px) {
  .footer__menu-item {
    margin-bottom: 32px;
  }
}