.lead {
  max-width: 984px;
  margin: 56px 148px 92px;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 100%;
    margin: 48px 48px 92px;
  }
}

@media (max-width: 768px) {
  .lead {
    margin: 48px 24px 88px;
  }
}

@media (max-width: 320px) {
  .lead {
    margin: 48px 0 64px;
  }
}