.header {
  display: flex;
  min-height: 52px;
  max-width: 1184px;
  margin: 28px 48px 0;
  justify-content: space-between;
  align-items: flex-end;  
}

@media (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 700px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 425px) {
  .header {
    margin-top: 16px;
  }
}
