.lead__img {
  height: 580px;
  object-fit: none;
  width: calc(100% - 44px);
  margin-left: 22px;
  margin-right: 22px;
  object-position: 0 85px;
}

/* @media (max-width: 768px) {
  .lead__img {
    padding-left: 0;
    padding-right: 0;
  }
} */
