.cover__overlay {
  background-color:  rgba(42, 44, 47, 0.3);
  min-height: 740px;
  width: 100%;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 525px) {
  .cover__overlay {
    min-height: 300px;
  }
}

@media (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
