.footer {
  display: flex;
  justify-content: space-between;
  min-height: 18px;
  max-width: 1184px;
  margin: 0 48px 24px;
}

@media (max-width: 768px) {
  .footer {
    min-height: 50px;
    margin: 0 24px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .footer {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }
}