.lead__illustration {
  width: 100%;
  max-height: 615px;
  position: relative;
  display: block;
}

.lead__illustration::before {
  display: block;
  content: "";
  width: 100%;
  height: calc(100% - 15%);
  position: absolute;
  top: 15%;
  left: 0;
  background-image: url('../../../images/group4.svg');
  background-repeat: no-repeat;
  background-size: calc(100% - 44px);
  background-position: top center;
}

@media (max-width: 768px) {
  .lead__illustration::before {
     background-size: calc(100% - 36px);
  }
}

@media (max-width: 425px) {
  .lead__illustration::before {
     background-size: calc(100% - 16px);
  }
}